body {
  cursor: url('../assets/cursor/Cursor.png'), auto;
}

a:hover,
button:hover,
.btn:hover,
.nav-link:hover {
  cursor: url("../assets/cursor/CursorH.png") 0 0, pointer !important;
}

section {
  min-height: 100vh;
  padding: 80px 0;
}

#home {
  background: #f8f9fa;
}

#about {
  background: #e9ecef;
}

#work {
  background: #dee2e6;
}

#projects {
  background: #ced4da;
}

#contact {
  background: #bbc3ca;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body .btn {
  margin-top: auto;
}

.card-img-top {
  height: 180px;        
  object-fit: cover;    
  width: 100%;          
  border-top-left-radius: 0.5rem; 
  border-top-right-radius: 0.5rem;
}



